*{
    margin : 0;
    padding : 0;
    color : black;
    font-family: 'Poppins', 'Arial', sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
}

h2{
    margin-top: 5px;
    margin-left: 34%;
}

form{
    margin-top: 100px;
    margin-left: 40%;
}

p {
    margin-top: 10px;
}

img{

}

#password{
    margin-left: 6%;
}

#btn{
    margin-top: 40%;
    margin-left: 60%;
}
form input{
    margin-left: 10%;
}

/*----------------------------------------------------------------------------------------------
VLAN FORM
------------------------------------------------------------------------------------------------*/

form#vlan > label {
    float: left;
    width: 200px;
    display: block;

}

form#vlan > input {
    width: 175px;
    display: block;
    margin-bottom: 5px;
}

form#vlan > label:nth-of-type(5), form#vlan > input:nth-of-type(5) {
    margin-top: 20px;
    margin-bottom: 50px;
}

form#vlan > div#btn_vlan > input:last-of-type {
    margin-left: 0;
    margin-right: 20%;
}

div#btn_vlan > input:first-of-type {
    margin-left: 0;
    margin-right: 30px;
}

div#btn_vlan > input{
    width: 70px;
}

div#btn_vlan > input{
    width: 70px;
}
div#btn_vlan {
    float: right;
    margin-right: 10%;
}