*{
    margin : 0;
    padding : 0;
    color : black;
    font-family: 'Poppins', 'Arial', sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
}

h2{
    margin-top: 5px;
    margin-left: 34%;
}

form{
    margin-top: 100px;
    margin-left: 40%;
}

p {
    margin-top: 10px;
}
#password{
    margin-left: 6%;
}

#btn{
    margin-top: 40%;
    margin-left: 60%;
}
form input{
    margin-left: 10%;
}

img#logo {
    display: inline;
    margin: 20px;
    width: 350px;
}

body#box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*----------------------------------------------------------------------------------------------
VLAN FORM
------------------------------------------------------------------------------------------------*/
form#vlan {
    margin: 0
}

form#vlan > label {
    float: left;
    width: 200px;
    display: block;

}

form#vlan > input {
    width: 175px;
    display: block;
    margin-bottom: 5px;
}

form#vlan > label:nth-of-type(5), form#vlan > input:nth-of-type(5) {
    margin-top: 20px;
    margin-bottom: 50px;
}

form#vlan > div#btn_vlan > input:last-of-type {
    margin-left: 0;
    margin-right: 20%;
}

div#btn_vlan > input:first-of-type {
    margin-left: 0;
    margin-right: 30px;
}

div#btn_vlan > input{
    width: 70px;
}

div#btn_vlan > input{
    width: 70px;
}
div#btn_vlan {
    float: right;
    margin-right: 10%;
}

div#vlan_block {
    margin: 20px;
    display: inline;
    width: 750px;
}

div#vlan_block > h1, div#vlan_block > h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
}