<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GSB - Gestion IP</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../JS/script.js" async></script>
</head>
<body id="box">
    <img id="logo" src="../images/logo-gsb.png" alt="logo">
    <div id="block">
        <h1>GSB - Gestion des Serveurs</h1>
        <form method="post" action="">
            <label for="login">Login :</label><input type="text" name="login" id="login">
            <label for="password">Password :</label><input type="password" name="password" id="password">
            <div id="btn">
                <input type="button" value="Mot de passe oublié" onclick="forgetMDP()">
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>