<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>GSB - Création d'un VLAN</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="../JS/script.js" async></script>
</head>
<body>
    <h1> GSB - Gestion des Serveurs</h1>
    <h2 id="subtitle">Creation d'un VLAN</h2>
    <form action="" method="post" id="vlan">
        <label for="nom">Nom :</label><input type="text" name="nom" id="nom"/>
        <label for="numero">Numéro :</label><input type="text" name="numero" id="numero"/>
        <label for="first_ip">Première adresse IP :</label><input type="text" name="first_ip" id="first_ip"/>
        <label for="mask">Masque de sous-réseau :</label><input type="text" name="mask" id="mask"/>
        <label for="last_ip">Dernière adresse IP :</label><input type="text" name="last_ip" id="last_ip"/>
        <div id="btn_vlan">
            <input type="reset" value="Cancel">
            <input type="submit" value="Envoyer">
        </div>
    </form>
</body>
</html>